@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme inline {
  /* FONTS CONFIGURATION */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  /* COLORS CONFIGURATION */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* 3. Light Mode Variables */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* 4. Dark Mode Variables (Applied when .dark class is present) */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

/* --- CUSTOM BUTTONS --- */
@layer components {
  /* 1. Primary Button */
  .btn-primary-custom {
    @apply relative overflow-hidden bg-linear-to-r from-blue-500 to-cyan-500 hover:from-blue-500/90 hover:to-cyan-500/90 shadow-lg shadow-blue-500/25 hover:shadow-xl hover:shadow-blue-500/30 transition-all duration-300 hover:scale-103 text-white! rounded-full! ease-in-out;
  }

  .btn-primary-custom span {
    @apply relative z-10 transition-colors duration-300;
  }

  .btn-primary-custom:hover span {
    @apply text-white;
  }

  .btn-primary-custom::before {
    content: "";
    @apply absolute top-0 left-[-10%] w-[120%] h-full bg-blue-700 skew-x-30 transition-transform duration-300 ease-[cubic-bezier(0.5,1,0.8,1)] translate-x-[-120%] z-0;
  }

  .btn-primary-custom:hover::before {
    @apply translate-x-0;
  }
  .btn-primary-custom:active {
    @apply text-white translate-y-0.5 duration-100;
  }

  /* 2. Secondary Button */
  .btn-secondary-custom {
    @apply rounded-full! transition-all duration-500 ease-in-out;
  }

  .btn-secondary-custom:hover {
    @apply text-white!;
    background: linear-gradient(to right, #2563eb, #06b6d4);
    box-shadow: 0px 7px 29px rgba(37, 99, 235, 0.5);
  }

  .btn-secondary-custom:active {
    @apply text-white translate-y-2.5 duration-100;
    background: linear-gradient(to right, #2563eb, #06b6d4);
    box-shadow: none;
  }

  /* 3. Outline Button */
  .btn-outline-custom {
    @apply text-foreground! hover:text-white! transition duration-300 relative z-10 rounded-full! border-2 border-transparent overflow-hidden scale-100;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(to right, #2563eb, #06b6d4) border-box;
  }

  .dark .btn-outline-custom {
    background: linear-gradient(#020817, #020817) padding-box,
      linear-gradient(to right, #2563eb, #06b6d4) border-box;
  }

  .btn-outline-custom span {
    @apply relative z-10 transition-colors duration-300;
  }

  .btn-outline-custom::before {
    content: "";
    @apply absolute top-0 left-[-10%] w-[120%] h-full bg-blue-500 skew-x-30 transition-transform duration-300 ease-[cubic-bezier(0.5,1,0.8,1)] translate-x-[-120%] z-0;
  }

  .btn-outline-custom:hover::before {
    @apply translate-x-0;
  }

  .btn-outline-custom:hover {
    @apply bg-blue-500 shadow-lg border-blue-500 shadow-blue-500/30 scale-105;
  }

  .btn-outline-custom:active {
    @apply translate-y-0.5 duration-100;
  }
}

/* Custom Title */
.title-custom {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold text-foreground;
  font-family: var(--font-heading);
}

.title-custom span {
  @apply text-transparent bg-clip-text bg-linear-to-r from-blue-500 via-cyan-500 to-blue-500 bg-size-[200%_auto];
}

.subtitle {
  @apply md:text-lg text-muted-foreground leading-relaxed;
}
